/*Footer-v1
------------------------------------*/
.footer-v1 .footer {
	padding: 40px 0;	
	background: #3b435e;
}

.footer-v1 .footer p {
	color: #eee;
}

.footer-v1 .footer h2 {
	color: #eee;
	font-size: 18px;
	font-weight: 200;
}

/*Link List*/
.footer-v1 .link-list li {
	border-top: solid 1px #5868a0;
}

.footer-v1 address,
.footer-v1 .link-list a,
.footer-v1 .link-list i {
	color: #eee;
}

.link-list li:first-child {
    border-top: none !important;
}

.footer-v1 address {
	line-height: 23px;
}

/*Dotted Map*/
.footer-v1 .footer .map-img {
	background: url(../../img/map-img.png) 5px 60px no-repeat;
}

/*Copyright*/
.footer-v1 .copyright {
	background: #292e40;
	border-top: none;
	padding: 10px 0 5px;
}

.footer-v1 .copyright p {
	color: #fff;
	margin-top: 11px;
	font-size: 14px;
}

.footer-v1 .copyright a {
	margin: 0 2px;
}

.footer-v1 .footer-socials {
	margin-top: 12px;
	text-align: right;
}

.footer-v1 .footer-socials li a {
	color: #777;
	font-size: 16px;
}

.link-list a {
    color: #fff;
    font-size: 12px;
    padding: 6px 0px;
    display: inline-block;
    text-transform: uppercase;
    -webkit-transition: color 0.5s ease;
}

.link-list a:hover,
.link-list a:hover {
    color: #de767d;
}

@media (max-width: 991px) {
	.footer-v1 .copyright,
	.footer-v1 .footer-socials {
		text-align: left;
	}
}